@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Major+Mono+Display&display=swap");

/* General stylings */

* {
  color: #d9f9a5;
  font-family: "Raleway", "Courier New", Courier, monospace;
  font-size: 20px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #d9f9a5;
  margin: 0;
}

header,
footer {
  position: sticky;
  z-index: 100;
  display: flex;
  width: 100%;
  background-color: #81726A;
}

header {
  top: 0;
  justify-content: space-between;
}

footer {
  bottom: 0;
  justify-content: center;
}

a {
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  color: #463834;
  background-color: #F8FED7;
}

button {
  color: #463834;
  padding: 8px;
  border: medium solid #D2D68D;
  border-radius: 5px;
  max-width: 225px;
  background-color: #f8fed7;
  margin: 10px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #D2D68D;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: thick solid #81726A;
  border-radius: 3px;
  width: 75%;
  background-color: #463834;
}

form {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

input,
textarea {
  color: #463834;
  font-size: 18px;
  padding: 5px;
  border: medium solid #D2D68D;
  border-radius: 3px;
  background-color: #F8FED7;
  margin: 10px;
  outline-style: none;
}

input:focus,
textarea:focus {
  outline-color: #D9F9A5;
  outline-style: solid;
  outline-width: 3px;
}

h2 {
  color: #d9f9a5;
  font-family: "Major Mono Display", "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 400;
}

ul {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  padding-left: 0;
}

li {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 1em;
}

label {
  color: #D9F9A5;
  font-size: 24px;
}

p {
  text-align: center;
  margin: 5px;
}

span {
  margin: 0px 5px;
}

/* Page layout */

#intro-section {
  display: flex;
  margin: 0 2%;
}

#column-one {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin: 30px 0px 30px 50px;
}

#column-two {
  display: flex;
  flex: 3 3;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px 50px 30px 30px;
}

#proficiencies {
  display: flex;
  flex-grow: 1;
  max-width: 150px;
}

#about {
  max-height: 150px;
  width: 98%;
  margin-bottom: 2%;
}

#projects {
  width: 98%;
}

#experience-section {
  display: flex;
  margin: 0 2%;
}

#column-three {
  display: flex;
  flex: 3 3;
  flex-direction: column;
  margin: 30px 30px 30px 50px;
}

#column-four {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px 50px 30px 0px;
}

#experience {
  width: 98%
}

#soft-skills {
  display: flex;
  flex-grow: 1;
  max-width: 150px;
}

#contact-section {
  display: flex;
  margin: 0 2%;
}

#message-form {
  margin: 0px 25px 0px 50px;
}

#connect {
  margin: 0px 50px 0px 25px;
}

/* Individual stylings */

.header-and-footer {
  justify-content: left;
  color: #d9f9a5;
  font-family: "Major Mono Display", "Courier New", Courier, monospace;
  font-size: 30px;
  padding: 20px 30px;
}

.proficiencies {
  align-items: center;
  list-style-type: none;
  text-align: center;
}


#experience {
  border: thick  solid #D2D68D;
  background-color: #81726A;
}

.experience-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: justify;
  list-style-position: inside;
}

.experience-list-item {
  padding: 1em;
  border: medium solid #D9F9A5;
  border-radius: 5px;
  max-width: 30%;
  background-color: #463834;
  margin-top: 3%;
}

#message-form {
  display: flex;
  max-width: 50%;
}

.connect {
  list-style-type: none;
  text-align: center;
  align-items: center;
}

#messages-section {
  border: none;
  background-color: #d9f9a5;
}

#user-info,
#user-message {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: justify;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
}

.messages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding: 8px 10px;
  border: medium solid #D2D68D;
  border-radius: 5px;
  background-color: #F8FED7;
  margin-bottom: 10px;
}

/* Prevents in page links from scrolling too far */

#about,
#proficiencies,
#experience,
#connect {
  scroll-margin-top: 6em;
}

/* Mobile styling */

@media (max-width: 600px) {

  /* General styling */
  header {
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  footer {
    position: absolute;
  }

  section {
    margin: 20px;
  }

  input,
  textarea {
    max-width: 200px;
  }

  .header-and-footer {
    justify-content: left;
    font-size: 20px;
    padding: 10px 30px;
    top: 0;
  }

  #about,
  #proficiencies,
  #experience,
  #connect {
    scroll-margin-top: 8em;
  }

  .experience-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-position: inside;
  }

  .experience-list-item {
    max-width: 70%;
  }

  #message-form {
    max-width: 300px;
    text-align: center;
  }

  .messages {
    flex-direction: column;
  }
}
